/*
    display: flex | inline-flex 
    flex-direction: row | row-reverse | column | column-reverse
    flex-wrap: nowrap | wrap | wrap-reverse
    flex-flow: <flex-direction> || <flex-wrap>
    justify-content: flex-start | flex-end | center | space-between | space-around
    align-items: flex-start | flex-end | center | baseline | stretch
    align-content: flex-start | flex-end | center | space-between | space-around | stretch
    order: <integer>
    flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
    flex-grow: <number>
    flex-shrink: <number>
    flex-basis: <'width'> || <'max-width'> || <'min-width'>
    flex-preferred-size: <'width'> || <'max-width'> || <'min-width'>
*/

body {
    margin: auto;
    width: 100%;
}

.container {
    background-color: #1c6e9e ;
    height:200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: space-between;

}

.cont-item {
    border: 1px solid #000;
    background-color: #e75e28;
    margin: 3px;
    padding: 10px;
    height: 150px;
}
/* .item1 {order:1;}
.item2 {order:2;}
.item3 {order:3;}
.item5 {order:4;}
.item4 {order:5;}
.item6 {order:6;}
.item7 {order:7;}
.item8 {order:8;} */

item1{flex-grow: 1;}
item2{flex-grow: 2;}
item3{flex-grow: 1;}