/*
    @media
        screen and (min-width: 992px)
        and (max-width: 1199px)
    {

*/

body {
    background-color: #ebebeb;
}

h1 {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto
}

.container {
    display:grid;
    grid-template-columns: auto minmax(150px, 300px);
    grid-template-areas: "entete entete"
                         "principal baree"
                         "pied pied";
}

section, aside {
        padding: 20px;
}
header {
    grid-area: entete;
}

section {
    background-color: #ddd;
    grid-area: principal;
}

aside {
    background-color: #ccc;
    grid-area: baree;
}

footer {
    grid-area: pied;
}
/*@media all tous les types d'apareils, @media screen tablette smartphone, 
@media speech synthese vocale et @media print pour les apercu avant impression*/
@media screen and (max-width: 600px) {
    body {
        background-color: #918d8d;
    }
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: "entete "
                             "principal "
                             "baree "
                             "pied ";
    }

}
@media screen and (min-width: 1200px) {
    body {
        background-color: #443838;
    }
}

/*Point de rupture
@media screen and (max-width: 568){} format XS
@media screen and (min-width: 768){} format SM
@media screen and (min-width: 992){} format MD
@media screen and (min-width: 1024){} format LG
@media screen and (min-width: 1280){} format XL
*/