/*
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: row;
    grid-auto-rows: minmax(100px, 1fr);
    grid-auto-columns: minmax(100px, 1fr);
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    grid-area: auto;
        */

body {
    background-color: #eee;
}

.container {
    border: 2px dashed #aa5230;
    height: 500px;
    width: 800px;
    display: grid;
    /* grid-template: 150px 150px / repeat(3, fr); permet d'indiquer les row et les colonnes sur 1 seule ligne */
    grid-template-columns: repeat(3, 1fr);
    /*grid-column-gap: 50px; espace entre les colonnes */
    /*grid-row-gap: 50px;  espace entre les lignes */
    /* grid-gap: 50px 50 px; pour gerer les espaces entre les lignes et les colonnes */
    /* justify-content: start; */
    /* justify-content: center;
    justify-content: stretch; */
    /* justify-content: space-around;
    align-content: center; */
    /* place-content: center / center; permet d'aligner Verticalement et horizontalement en une seule ligne*/
    /* justify-content: space-between;
    justify-content: space-evenly; */
    /* grid-auto-rows: 100px; */
    /* justify-content: end; */
    /* grid-template-columns: 1fr 2fr 1fr; */
    /* grid-template-columns: min-content 1fr 1fr; */
    /* grid-template-columns: fit-content(min-content) 1fr 1fr; */
    /* grid-template-columns: repeat(3, minmax(100px, 200px)); */
    /* grid-template-columns: repeat(3, minmax(min-content, max-content)); */
    /* grid-template-columns: max-content 1fr 1fr; */
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: 100px 100px 100px; */
    
    /* grid-template-areas: "entete entete "
                         "principal lateral"
                         "pied pied"; */
    /* grid-template-areas: " entete entete "
                         "principal . lateral" le point indique un emplacement vide
                         "pied pied pied"; */
    
    
    /* grid-template-rows: 150px 150px; */
    /* grid-auto-rows: 150px; dimensionne le reste des colonnes non prise en charge par la grid*/ 
    /* grid-auto-flow: column; positionne les éléments hors grilles en colonnes en fin des colonnes de la grid */
    /* grid-auto-columns: 100px; */
}

.item {
    border: 1px solid #221fb3;
    background-color: #386ccc;
    color: #fff;
    padding: 10px;
    /* place-items: center / center; */
    /* justify-items: center; */
}

.iF {
    /* grid-column: 2; */
    /* grid-column: 1 / -1; */
    /* grid-row: 1 / -1; */

}

.iB {
    /* grid-row-start: 3; */
}

/* header {grid-area: entete;}
section {grid-area: principal;}
aside {grid-area: lateral;}
footer {grid-area: pied;} */

/* .iG {
    align-self: center;
} */